name: Release to Nuget

on: 
  release:
    types: [published]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.404
    - name: Create NuGet Package
      run: dotnet pack -c Release /p:Version=${{ github.event.release.tag_name }} /p:PackageReleaseNotes="See https://github.com/fmichellonet/AzureFunctions.Extensions.OpenIDConnect/releases/tag/${{ github.event.release.tag_name }}"
      working-directory: .\src
    - name: Archive NuGet Package
      uses: actions/upload-artifact@v1
      with:
        name: AzureFunctions.Extensions.OpenIDConnect.${{ github.event.release.tag_name }}.nupkg
        path: .\src\AzureFunctions.Extensions.OpenIDConnect\bin\Release\AzureFunctions.Extensions.OpenIDConnect.${{ github.event.release.tag_name }}.nupkg
    - name: Publish to Nuget.org
      run: dotnet nuget push .\src\AzureFunctions.Extensions.OpenIDConnect\bin\Release\AzureFunctions.Extensions.OpenIDConnect.${{ github.event.release.tag_name }}.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
